<!DOCTYPE html>
<html>
<head>
    <title> Generic Name - View All</title>
</head>
    <body>
        <h1>Medication Generic Names</h1>

        <a href="http://localhost:3000/generic_name/add">
            Add New Generic Name</a>
        <br/><a href="/staticfile.html">Return To Main Page</a>

        <br/>
        <br/>

        <table border = "1">
            <tr>
                <th>Medication Name</th>
                <th>Generic Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <% for(var i = 0; i < generic_name.length; i++) {%>
                <tr>
                    <td><%= generic_name[i].medication_name %></td>
                    <td><%= generic_name[i].generic_name %></td>
                    <td><a href="/generic_name/edit/?medication_id=<%= generic_name[i].medication_id %>&generic_name=<%= generic_name[i].generic_name%>">
                            Edit</a></td>
                    <td><a href="/generic_name/delete/?medication_id=<%= generic_name[i].medication_id %>&generic_name=<%= generic_name[i].generic_name%>">
                            Delete</a></td>
                </tr>
            <% } %>
        </table>
        <br/>
        <br/>
        <br/>
        <a href="http://localhost:3000/generic_name/add">
            Add New Generic Name</a>
        <br/><a href="/staticfile.html">Return To Main Page</a>

        <br/>
        <br/>
    </body>
</html>