<!DOCTYPE html>
<html>
<head>
    <title>Medication - View All</title>
</head>
    <body>
        <h1>Medications</h1>
        <a href="http://localhost:3000/medication/add">
            Add Medication Information</a>
        <br/><a href="/staticfile.html">Return To Main Page</a>

        <br/>
        <br/>

        <table border = "1">
            <tr>
                <th>Medication ID</th>
                <th>Medication Name</th>
                <th>Purpose</th>
                <th>How To Take</th>
                <th>Warning</th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
            <% for(var i = 0; i < medication.length; i++) {%>
                <tr>
                    <td><%= medication[i].medication_id %></td>
                    <td><%= medication[i].medication_name %></td>
                    <td><%= medication[i].purpose%></td>
                    <td><%= medication[i].how_to_take%></td>
                    <td><%= medication[i].warning%></td>
                    <td>
                        <a href = '/medication/edit/?medication_id=<%= medication[i].medication_id%>'>
                            Edit
                        </a>
                    </td>
                    <td>
                        <a href="/medication/delete/?medication_id=<%= medication[i].medication_id %>">
                            Delete</a>
                    </td>

                </tr>
            <% } %>
        </table>
        <br/>
        <br/>
        <br/>
        <a href="http://localhost:3000/medication/add">
            Add Medication Information</a>
        <br/><a href="/staticfile.html">Return To Main Page</a>

        <br/>
        <br/>
        <br/>
        <br/>
    </body>
</html>