<!DOCTYPE html>
<html>
<head>
    <title>Interaction - Add</title>
</head>
    <body>
        <h1>Add New Interaction</h1>
        <form action = "/interactions/update" method = "get">

            <input type = "hidden"
                   id="medication1_id"
                   name="medication1_id"
                   value="<%= medication.medication1_id%>"/>

            First Medication Name:
            <select name = "medication1_id">
                <% for(var i = 0; medication.length > i; i++) {%>
                <option value = "<%= medication[i].medication1_id %>"> <%= medication[i].m1_name %></option>
                <% } %>
            </select>

            <br/>

            Second Medication Name:
            <select name = "medication2_id">
                <% for(var i = 0; medication.length > i; i++) {%>
                <option value = "<%= medication[i].medication2_id %>"> <%= medication[i].m2_name %></option>
                <% } %>
            </select>
            <br/>

            Notes: <input name="notes"
                  type="text" />

            <br />
            <input type="submit"/>
        </form>
    </body>
</html>